{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "10"
      }
    }],
    "@babel/typescript"
  ],
  "sourceRoot": "build",
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
